@import "compass/css3/border-radius";

body, p, td {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
strong {
    font-weight: bold;
}
#demo {
    float: left;
}

#wrapper {
    margin: 1em;
}

.controls {
}

#donut_pattern, #sphere_pattern {
     /* background-color: yellow; */
}

.description {
    border: 2px solid black;
    @include border-radius(4px, 4px);
    padding: 2em;
    margin: 2em 0;
}