<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">Crochet CAD</h3>
</div>

<div class="jumbotron">
	<h1>Crochet CAD</h1>
	<p class="lead">
        Get rid of the grunt-work of designing circular crochet!<br>
        {{ awesomeThings }}
    </p>
</div>

<div class="row marketing">
	<h4>Amigurumi is Fun!</h4>
	<p>
        Unfortunately, writing down all the stitches one-by-one is quite tedious.
        This is where Crochet CAD comes in. It will automatically generate patterns
        for Balls, Donuts and Cones with a few simple clicks.
    </p>

	<h4>I like this!</h4>
	<p>
        If you like this, please spread the word! A few Likes, Plus-Ones or
        Tweets go a long way.
    </p>
</div>
</div>

<div class="footer">
	<p>
        Crochet CAD is free and open-source. Check it out on
        <a href="http://github.com/bedmondmark/crochet-cad">GitHub</a>.
    </p>
</div>